header .title {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 20px;;
}

#calculator-wrapper {
    margin-top: 10vh;
    border: 1px solid #c3baba;
    background-color: #fde8e8;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 20%;
}

#calculator-wrapper > .row {
    margin-top: 5px;
    margin-bottom: 5px;
}

input.result {
    width: 98%;
    text-align: end;
    border: 1px solid #c3baba;
    margin-bottom: 20px;
    border-radius: 5px;
    height: 40px;
}

.calculator-button {
    width: 65px;
    height: 50px;
}

button.btn.btn-default {
    background-color: white;
}

.my-alert {
    visibility: hidden;
}

.my-alert.active {
    visibility: initial;
}

@media only screen and (max-width: 500px) {
    #calculator-wrapper {
        width: 90%;
    }

    .calculator-button {
        width: 45px;
        height: 40px;
    }
}

@media only screen and (max-width: 1500px) {
    #calculator-wrapper {
        width: 70%;
    }
}