<mat-card class="calculator-card">
    <mat-card-content>
        <mat-form-field class="form-result">
            <input matInput name="result" class="result" value="0" (change)="addValueOnResult($event.target.value);" #resultExpression="ngModel" [ngModel]="result" pattern="[0-9.\+-\/\*]*">
        </mat-form-field><br>

        <mat-grid-list cols="4" rowHeight="1.5:1">
            <mat-grid-tile><button mat-raised-button (click)="addValue(7)">7</button></mat-grid-tile>
            <mat-grid-tile><button mat-raised-button (click)="addValue(8)">8</button></mat-grid-tile>
            <mat-grid-tile><button mat-raised-button (click)="addValue(9)">9</button></mat-grid-tile>
            <mat-grid-tile><button mat-raised-button (click)="addValue('/')">/</button></mat-grid-tile>
        </mat-grid-list>
        <mat-grid-list cols="4" rowHeight="1.5:1">
            <mat-grid-tile><button mat-raised-button (click)="addValue(4)">4</button></mat-grid-tile>
            <mat-grid-tile><button mat-raised-button (click)="addValue(5)">5</button></mat-grid-tile>
            <mat-grid-tile><button mat-raised-button (click)="addValue(6)">6</button></mat-grid-tile>
            <mat-grid-tile><button mat-raised-button (click)="addValue('*')">*</button></mat-grid-tile>
        </mat-grid-list>
        <mat-grid-list cols="4" rowHeight="1.5:1">
            <mat-grid-tile><button mat-raised-button (click)="addValue(1)">1</button></mat-grid-tile>
            <mat-grid-tile><button mat-raised-button (click)="addValue(2)">2</button></mat-grid-tile>
            <mat-grid-tile><button mat-raised-button (click)="addValue(3)">3</button></mat-grid-tile>
            <mat-grid-tile><button mat-raised-button (click)="addValue('-')">-</button></mat-grid-tile>
        </mat-grid-list>
        <mat-grid-list cols="4" rowHeight="1.5:1">
            <mat-grid-tile><button mat-raised-button (click)="addValue(0)">0</button></mat-grid-tile>
            <mat-grid-tile><button mat-raised-button (click)="addValue('del')">C</button></mat-grid-tile>
            <mat-grid-tile><button mat-raised-button (click)="addValue('run')" color="primary" [disabled]="resultExpression.invalid">=</button></mat-grid-tile>
            <mat-grid-tile><button mat-raised-button (click)="addValue('+')">+</button></mat-grid-tile>
        </mat-grid-list>
    </mat-card-content>
</mat-card>